<button onclick="location.href='/games/allgames'" type="button">View all games</button>
<button onclick="location.href='/nav'" type="button">Return to navigation menu</button>
<div class="screennotcenter">
<!--<a href="/games/allgames">Go back</a> -->
<h1 id="gameTitle">{{object.title}}</h1>
<img src="{{object.img}}" alt="{{object.title}} Cover Art" onerror="this.onerror=null;this.src='../../public/images/noimage.png';" class="gameimage">
<p>Date Released: {{object.dateReleased}}</p>
<p>Genres: {{object.genres}}</p>
<p>Developers: {{object.developers}}</p>
<p>Publishers: {{object.publishers}}</p>
<p>Age rating: {{object.ageRating}}</p>
<p>Platforms: {{object.platforms}}</p>
{{#if object.purchaseLinks}}
<p>Purchase links:</p>
<ul>
    {{#each object.purchaseLinks}}
    <li><a href="{{this}}">{{this}}</a></li>
    {{/each}}
</ul>
{{/if}}
<button id="addFavorite" type="button">Add to favorites</button>
<p>Average rating: {{object.averageRating}}</p>

<!-- Hidden gameID for AJAX request -->
<p id="gameId" hidden>{{object._id}}</p>

<!-- Review section -->
<div id="addReviewWrapper">
<button id="displayAddReview" type="button">Add a review</button>
</div>
<div id="review" class="container centered" >
    <form id="addReviewForm">

        <!-- Title of review -->
        <label for="reviewTitle" >Review title</label>
        <input id="reviewTitle" type="text" name="reviewTitle"/>
        <br>

        <!-- Text gicontent of review -->
        <label for="addReview">Review content</label>
        <input id="addReview" type="text" name="reviewContent"/>
        <br>


        <!-- Score from 1 to 5 -->
        <label for="gameScore">Score</label>
        <input type="number" id="gameScore" name="score" min="1" max="5">
        <br>

        <!-- Recommendation -->
        <label for="recommend">Recommend</label>
        <input type="radio" id="recommend" name="recommended" value="yes" checked>
        <label for="norecommend">Do not recommend</label>
        <input type="radio" id="norecommend" name="recommended" value="no">
        <br>

        <!-- Spoilers? -->
        <label for="spoiler">My review contains spoilers</label>
        <input type="radio" id="spoiler" name="spoiler" value="yes">
        <label for="nospoiler">My review does not contain spoilers</label>
        <input type="radio" id="nospoiler" name="spoiler" value="no" checked>
        <br>


        <input id="submitReview" type="submit" value="Add review"/>
        <div id="reviewErrorText" hidden></div>
    </form>
</div>

<p>Number of reviews: {{object.numberOfReviews}}</p>
<p>Game reviews:</p>
<ul id="reviewList">
    {{#each object.reviews}}
    <li>By <a href="/profile/{{this.username}}">{{this.username}}</a> <br>
    {{#if this.spoiler}}
        <li><button class="revealSpoiler">This review contains spoilers. Press to view.</button></li>
        <li><ul class="reviewPoints" hidden>
            <li>{{this.reviewTitle}}</li>
            <li>{{this.reviewContent}}</li>
            <li>Rating: {{this.rating}}</li>
            <li>Recommended: {{#if this.recommended}} Yes {{else}} No {{/if}}</li>
            <li>{{this.helpfulCount}} users found this review helpful</li>
            <li><button class="rateHelpful">Rate this review helpful</button></li>
            <li><p hidden class='hiddenId'>{{this._id}}</p></li>
        </ul></li> 
        <li><br></li>
    {{else}}
        <ul class="reviewPoints">
            <li>{{this.reviewTitle}}</li>
            <li>{{this.reviewContent}}</li>
            <li>Rating: {{this.rating}}</li>
            <li>Recommended: {{#if this.recommended}} Yes {{else}} No {{/if}}</li>
            <li>{{this.helpfulCount}} users found this review helpful</li>
            <li><button class="rateHelpful">Rate this review helpful</button></li>
            <li><p hidden class='hiddenId'>{{this._id}}</p></li>
        </ul> <br>
    </li>
    {{/if}}
    {{/each}}
</ul>

<ul id="gameSuggestions" hidden>
</ul>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/ratehelpful.js"></script>
<script src="/public/js/addReview.js"> </script>
<script src="/public/js/spoilerButton.js"></script>
<script src="/public/js/generateSuggestions.js"></script>
<script src="/public/js/favorite.js"></script>
</div>
