{{!-- {
“_id”: ObjectID(60690756a54720327839a831),
“title”: “Dark Souls”,
“dateReleased”: “9/22/2011”,
“genres” : [“Action role-playing game”, “Dungeon crawl”]
“developers”: [“FromSoftware, Inc.”, “Bluepoint Games”, “Japan Studio”, “Virtuos”, “Shirogumi”, “QLOC”]
“publishers” : [“FromSoftware, Inc.”, “BANDAI NAMCO”, “MORE”]
“averageRating”: 9.5,
“numberOfReviews”: 105,
“gameReviews”: [ObjectId(6069093d88a06901fd7b7b85), ObjectId(606909be50205ec3304bfc75)],
“ageRating”: “M”,
“platforms”: [“Playstation 3”, “Xbox 360”, “Microsoft Windows”, “Playstation 4”, “Xbox One”, “Nintendo Switch”],
“purchaseLinks”: [“https://store.steampowered.com/app/570940/DARK_SOULS_REMASTERED/”, “https://www.amazon.com/Dark-Souls-Remastered-PlayStation-4/dp/B078Y4FR14/ref=sr_1_3?dchild=1&keywords=Dark+Souls&qid=1617495969&sr=8-3”]
} --}}


<h1>{{object.title}}</h1>
<img href="https://static.wikia.nocookie.net/darksouls/images/8/8d/Dark_Souls_Cover_Art.jpg">
<p>Date Released: {{object.dateReleased}}</p>
<p>Genres: {{object.genres}}</p>
<p>Developers: {{object.developers}}</p>
<p>Publishers: {{object.publishers}}</p>
<p>Average rating:{{object.averageRating}}</p>
<p>Number of reviews: {{object.numberOfReviews}}</p>
<p>Game reviews: {{object.gameReviews}}</p>
<p>Age rating: {{object.ageRating}}</p>
<p>Platforms: {{object.platforms}}</p>
<p>Purchase links:{{object.purchaseLinks}}</p>

{{!-- {{#if object.usersFollowing}}
    <ul>
        {{#each object.usersFollowing}}
        <li><a href="/shows/{{this.show.id}}">{{this}}</a></li>
        {{/each}}
    </ul>
{{/if}} --}}

