<a href="/games/allgames">Go back</a>
<h1>{{object.title}}</h1>
<img src="{{object.img}}">
<p>Date Released: {{object.dateReleased}}</p>
<p>Genres: {{object.genres}}</p>
<p>Developers: {{object.developers}}</p>
<p>Publishers: {{object.publishers}}</p>
<p>Age rating: {{object.ageRating}}</p>
<p>Platforms: {{object.platforms}}</p>
{{#if object.purchaseLinks}}
<p>Purchase links:</p>
<ul>
    {{#each object.purchaseLinks}}
    <li><a href="{{this}}">{{this}}</a></li>
    {{/each}}
</ul>
{{/if}}
<p>Average rating: {{object.averageRating}}</p>
<p>Number of reviews: {{object.numberOfReviews}}</p>
<p>Game reviews: {{object.reviews}}</p>
<ul>
    {{#each object.reviews}}
    <li><a href="{{this.username}}">{{this}}</a></li>
    {{/each}}
</ul>

