{{!-- users
“_id”: ObjectID(60690731a54720327839a830),
“perms”: “user”,
“username”: “JohnDoe”,
“dateJoined”:”4/1/2021”,
“hashPassword”: “$2a$08$XdvNkfdNIL8F8xsuIUeSbNOFgK0M0iV5HOskfVn7.PWncShU.O”,
“usersFollowing”: [“mapple”, “lempie”, “randomname”],
“email”:”JDoe@gmail.com”,
“favoriteGames” : [ObjectId(6069054da54720327839a82e), ObjectId(6069056ca54720327839a82f)],
“reviewsLeft”: [ObjectID(60690a32a54720327839a835), ObjectId(606908bfa54720327839a834)] --}}
<a href="/nav">Go back</a>
<h1>Profile</h1>
<p>Permission group: {{object.perms}} </p>
<p>Username: {{object.username}}</p>
<p>Date joined: {{object.dateJoined}}</p>
<p>Users following:{{#if hasUsersFollowing}} None{{/if}}</p>
{{#each object.usersFollowing}}
<a href="/profile/{{this}}">{{this}}</a>
{{/each}}
<p>Favorite Games: {{object.favoriteGames}}</p>
<p>Reviews:</p>
{{#if object.reviewsLeft.length}}
<ul id="reviewList">
    {{#each object.reviewsLeft}}
    <p>Reviewed <a href="/games/game/{{this.gameId}}">{{this.gameTitle}}</a></p>
    {{#if this.spoiler}}
        <button class="revealSpoiler">This review contains spoilers. Press to view.</button>
        <ul class="reviewPoints" hidden>
            <li>{{this.reviewTitle}}</li>
            <li>{{this.reviewContent}}</li>
            <li>Rating: {{this.rating}}</li>
            <li>Recommended: {{#if this.recommended}} Yes {{else}} No {{/if}}</li>
        </ul> <br>
    {{else}}
        <ul class="reviewPoints">
            <li>{{this.reviewTitle}}</li>
            <li>{{this.reviewContent}}</li>
            <li>Rating: {{this.rating}}</li>
            <li>Recommended: {{#if this.recommended}} Yes {{else}} No {{/if}}</li>
        </ul> <br>
    {{/if}}
    {{/each}}
</ul>
{{else}} <p>This user has not left any reviews</p>
{{/if}}
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/spoilerButton.js"> </script>
