<!-- <a href="/nav">Go back</a> -->
<button onclick="location.href='/nav'" type="button">Go back to navigation menu</button>
<div class="screennotcenter">
<h1>Profile</h1>
<button id="followUser" type="button">Follow this user</button><br>
<p>Permission group: {{object.perms}} </p>
<p hidden id="hiddenName">{{object.username}}</p>
<p>Username: {{object.username}}</p>
<p>Date joined: {{object.dateJoined}}</p>
<p>Users following:{{#if hasUsersFollowing}} None{{/if}}</p>
{{#each object.usersFollowing}}
<a href="/profile/{{this}}">{{this}}</a>
{{/each}}
<p>Favorite Games: {{object.favoriteGames}}</p>
<p>Reviews:</p>
{{#if object.reviewsLeft.length}}
<ul id="reviewList">
    {{#each object.reviewsLeft}}
    <li><p>Reviewed <a href="/games/game/{{this.gameId}}">{{this.gameTitle}}</a></p></li>
    {{#if this.spoiler}}
        <li><button class="revealSpoiler">This review contains spoilers. Press to view.</button></li>
        <ul class="reviewPoints" hidden>
            <li>{{this.reviewTitle}}</li>
            <li>{{this.reviewContent}}</li>
            <li>Rating: {{this.rating}}</li>
            <li>Recommended: {{#if this.recommended}} Yes {{else}} No {{/if}}</li>
        </ul> 
        <li><br></li>
    {{else}}
        <ul class="reviewPoints">
            <li>{{this.reviewTitle}}</li>
            <li>{{this.reviewContent}}</li>
            <li>Rating: {{this.rating}}</li>
            <li>Recommended: {{#if this.recommended}} Yes {{else}} No {{/if}}</li>
        </ul> 
        <li><br></li>
    {{/if}}
    {{/each}}
</ul>
{{else}} <p>This user has not left any reviews</p>
{{/if}}
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/spoilerButton.js"> </script>
<script src="/public/js/follow.js"></script>
</div>