<a href="/nav">Go back</a>
<h1>Reviews from followed users:</h1>
<ul>
    {{#each reviews}}
        <br>
        <li>Review by <a href="/profile/{{this.username}}">{{this.username}}</a>:</li>
        <p>Title: {{this.reviewTitle}}</p>
        <p>Rating: {{this.rating}}</p>
        <p>Recommended: {{this.recommended}}</p>
        <p>Review: {{this.reviewContent}}</p>
        <p>{{this.helpfulCount}} people rated this review Helpful</p>
    {{/each}}
</ul>