<!-- <a href="/nav">Go back</a> -->
<button onclick="location.href='/nav'" type="button">Go Back</button>
<div class="screennotcenter">
<h1>Reviews from followed users:</h1>
<ul>
    <li><br></li>    
    {{#each reviews}}
    <li>Review of 
        <a href="/games/game/{{this.gameId}}">{{this.gameTitle}}</a>
        by  <a href="/profile/{{this.username}}">{{this.username}}</a>:</li>
        {{#if this.spoiler}}
        <li><button class="revealSpoiler">This review contains spoilers. Press to view.</button></li>
        <li><br></li>
        <ul class="reviewPoints" hidden>
            <li>Title: {{this.reviewTitle}}</li>
            <li>Rating: {{this.rating}}</li>
            <li>Recommended: {{this.recommended}}</li>
            <li>Review: {{this.reviewContent}}</li>
            <li>{{this.helpfulCount}} people rated this review Helpful</li>
        </ul>
        <li><br></li>
        {{else}}
        <ul class="reviewPoints">
            <li>Title: {{this.reviewTitle}}</li>
            <li>Rating: {{this.rating}}</li>
            <li>Recommended: {{this.recommended}}</li>
            <li>Review: {{this.reviewContent}}</li>
            <li>{{this.helpfulCount}} people rated this review Helpful</li>
        </ul>
        <li><br></li>
        {{/if}}
    {{/each}}
</ul>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/spoilerButton.js"></script>
</div>